<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bolão da copa</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link th:href="@{/estilo.css}" rel="stylesheet">
</head>

<body class="text-center">
    <main class="form-signin">
        <form action="#" th:action="@{/usuario/login}" th:object="${dadosLogin}" method="post">
            <img class="mb-4" th:src="@{/imagens/logo.png}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Bolão da copa</h1>
            <div th:if="${!#strings.isEmpty(mensagem)}" class="alert" th:classAppend="${tipoMensagem=='erro'?'alert-danger':'alert-success'}" th:text="${mensagem}">Mensagem</div>

            <div class="form-floating">
                <input type="email" th:field="*{email}" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" th:field="*{senha}" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Senha</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>

            <a th:href="@{/usuario/novo}">Não tem conta? Registre-se aqui!</a>
        </form>
    </main>
</body>

</html>
